.archives-wrap
  margin: 0 15px
  padding: 3rem 0
  border-bottom: 1px solid #ddd

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  color: color-grey
  text-decoration: none
  &:hover
    color: color-default

.archives
  display: flex
  flex-wrap: wrap

.archive-article
  flex: 0 0 100%
  text-decoration: none
  color: #777
  transition: color 0.2s
  &:hover
    color: color-link

.archive-article-icon
  padding: 0 5px

.archive-article-date
  display: inline-block;
  width: 41px;

#page-nav
  clearfix()
  margin: 15px 0 30px 0
  text-align: center
  color: color-grey
  a, span
    padding: 0 15px
  a
    color: color-grey
    text-decoration: none
    &:hover
      color: color-default
  .prev
    float: left
  .next
    float: right
  .page-number
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold