.category-tag-column
  margin: 3rem 15px

.category-tag-column .category-list,
.category-tag-column .tag-list
  display: flex
  flex-wrap: wrap

.category-tag-column .category-tag-title
  color: #999

.category-tag-column .category-list-link,
.category-tag-column .tag-list-link
  padding: 0 1.3rem
  text-decoration: none
  color: color-link
  &:hover
    text-decoration: underline