.category-tag-column
  margin: 25px 15px

.category-tag-column .category-list,
.category-tag-column .tag-list
  display: flex
  flex-wrap: wrap

.category-tag-column .category-tag-title
  font-size: 1.2em
  color: #999
  line-height: 1em
  font-weight: bold
  margin-bottom: 20px

.category-tag-column .category-list-item,
.category-tag-column .tag-list-item
  flex: 0
  margin: 8px 3px

.category-tag-column .category-list-link,
.category-tag-column .tag-list-link
  padding: 3px 10px
  text-decoration: none
  color: #fff
  background: color-link
  white-space: nowrap
  &:hover
    text-decoration: underline