#sidebar
  border-left: 1px solid color-widget-background
  display: none 
  @media mq-normal
    flex: 0 0 300px
    display: initial 
      
#sidebar > .widget-wrap:first-child {
  padding-top: 50px
}

.widget-wrap
  margin: 0 15px
  padding: 3rem 0
  border-bottom: 1px dashed color-widget-background
  color: color-sidebar-text
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  p
    margin-bottom: 0
  ul, ol
    margin-left: 15px

.widget-title
  color: #999

.category-list-item 
  display: flex;
  align-items: center;

  .category-list-count
    font-size: 75%
    padding-left: 3px
    color: #999
    &:before
      content: "(";
    &:after
      content: ")";

.tagcloud
  margin-left: 15px
  a
    margin-right: 5px
    display: inline-block

.icon_image
  max-width: 200px
  margin: 0px auto
  border-radius: 50%
  display: block
  margin-bottom: 15px

$icon-size
  font-family: font-icon
  font-size: 30px
  margin: 0 5px
  display: inline-block

.icon-nav
  display: block
  text-align: center

.icon-nav a
  color: color-default
  transition: color 0.2s
  cursor: pointer
  &:hover
    color: color-grey
    text-decoration: none

a.portfolio
  @extend $icon-size
  &:before
    content: "\f007"

a.github
  @extend $icon-size
  &:before
    content: "\f09b"

a.linkedin
  @extend $icon-size
  &:before
    content: "\f08c"

a.twitter
  @extend $icon-size
  &:before
    content: "\f099"