<div class="category-tag-column">
  <h3 class="category-tag-title"><%= __('categories') %></h3>
  <%- list_categories({show_count: theme.show_count}) %>
</div>

<div class="category-tag-column">
  <h3 class="category-tag-title"><%= __('tagcloud') %></h3>
  <%- list_tags({show_count: theme.show_count}) %>
</div>
