<% if (site.tags.length){ %>
  <div class="widget-wrap tagCloud">
    <h4 class="widget-title"><%= __('tagcloud') %></h4>
    <div class="tagcloud-list">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>