.article {
	padding: 2rem 0;
  border-bottom: 1px solid $color-border;
  & .article-title {
    transition: color 0.2s;
    color: $color-content;
    &:hover {
      color: $color-link;
      text-decoration: none;
    }
  }
  & .article-meta {
    margin-bottom: 1rem;
    & .article-date,
    & .category-link {
      color: $color-grey;
      font-weight: bold;
      &:hover {
        color: $color-content;
        text-decoration: none;
      }
    }
  }
  & .article-entry {
    & em {
      background: linear-gradient(rgba(255,255,0,0.5), rgba(255,255,0,0.5));
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: auto 0.6em;
    }
    & ol,
    & ul {
      margin-bottom: 1em;
      list-style: inherit;
      padding-inline-start: 40px;
    }
  }
  & .article-more-link {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 15px;
    transition: background 0.2s, color 0.2s;
    border: 1px solid $color-link;
    background: #fff;
    text-decoration: none;
    &:hover {
      background: $color-link;
      color: #fff;
      text-decoration: none;
    }
  }
  & .article-footer {
    display: flex;
    margin: 15px 0;
    & .link,
    & .tag-list-link {
      color: $color-grey;
      font-size: 90%;
      text-decoration: none;
      &:hover {
        color: $color-content;
      }
    }
    & .tag-list {
      flex: 1;
      & .tag-list-item {
        display: inline-block;
        margin-right: 5px;
        & .tag-list-link:before {
          content: "#";
        }
      }
    }
    & .article-others {
      display: flex;
      position: relative;
      flex-wrap: nowrap;
      & .link {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        & .icon {
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          margin-right: 5px;
        }
        & .comment {
          background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23999' d='M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z' /%3E%3C/svg%3E") center center no-repeat;
        }
        & .share {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23999' d='M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z' /%3E%3C/svg%3E") center center no-repeat;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

#article-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  border-top: 1px dashed $color-border;
  & #article-nav-newer,
  & #article-nav-older {
    text-align: center;
  }
  & .article-nav-link-wrap {
    flex: 1;
    margin-right: 15px;
    color: $color-grey;
    text-shadow: 0 1px #fff;
    &:hover {
      color: $color-content;
      text-decoration: none;
    }
    @include mq-mobile {
      flex: 0 0 100%;
      margin: 0;
    }
    & .article-nav-caption {
      color: $color-grey;
      text-transform: uppercase;
    }
    & .article-nav-title {
      font-size: 0.85em;
    }
  }
  & > .article-nav-link-wrap:last-child {
    margin-right: 0;
    margin-left: 15px;
    @include mq-mobile {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.article-share-box {
  display: none;
	position: absolute;
  top: 25px;
  right: 8px;
	background: #fff;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  &.on {
    display: block;
  }
}

.article-share-input {
  padding: 10px;
	border: 0;
	border-bottom: 1px solid $color-border;
	color: $color-content;
  &:focus {
    outline: none;
  }
}

.article-share-links {
	display: flex;
  & .column {
    flex: 1;
    padding: 10px 0;
    color: #999;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    & .icon {
      display: block;
      width: 1.7rem;
      height: 1.7rem;
      margin: auto;
    }
    &.article-share-facebook {
      .facebook {
        background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 512 512'%3E%3Cpath fill='%23999' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z' /%3E%3C/svg%3E") center center no-repeat;
      }
      &:hover {
        background: #3b5998;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px #2f477a;
        & .facebook {
          background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z' /%3E%3C/svg%3E") center center no-repeat;
        }
      }
    }
    &.article-share-twitter {
      .twitter {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 512 512'%3E%3Cpath fill='%23999' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z' /%3E%3C/svg%3E") center center no-repeat;
      }
      &:hover {
        background: #00aced;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px #008abe;
        & .twitter {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z' /%3E%3C/svg%3E") center center no-repeat;
        }
      }
    }
  }
}

#disqus_thread {
	padding: 15px 0;
}

.article-entry code, .article-entry pre {
  font-family: Consolas,Monaco,Menlo,monospace;
}

.article-entry pre {
  background: #1d1f21;
  color: #ccc;
}

.article-entry .highlight {
  padding: 5px 10px;
  overflow: auto;
  background: #1d1f21;
  color: #ccc;
}