/* header */
.header {
  height: 400px;
  background: url("../images/banner.jpg") #000;
  background-position: 0 70%;
  background-size: cover;
  @media screen and (max-width: 2000px) {
    background: url("../images/large_banner.jpg") #000;
    background-position: 0 70%;
    background-size: cover;
  }

  @include mq-tablet {
    background: url("../images/medium_banner.jpg") #000;
    background-position: 0 70%;
    background-size: cover;
  }

  @include mq-mobile {
    background: url("../images/small_banner.jpg") #000;
    background-position: 0 70%;
    background-size: cover;
  }
}

.navbar {
  display: flex;
  height: 35%;
  & .main-nav {
    flex: 1;
  }
  & .sub-nav .column,
  & .main-nav .column {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    transition: opacity 0.2s;
    opacity: 0.6;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    &.rss {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(255, 255, 255, 0.8)' d='M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z' /%3E%3C/svg%3E") center center no-repeat;
    }
    &.search {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(255, 255, 255, 0.8)' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z' /%3E%3C/svg%3E") center center no-repeat;
    }
    &:hover {
      text-decoration: none;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  
}

#search-form-wrap {
  position: absolute;
  top: 45px;
  right: 15px;
  width: 200px;
  padding: 10px 7px;
  transition: opacity 0.2s;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  &.on {
    opacity: 1;
  }
  & .search-form {
    display: flex;
  }
  & .search-form-input {
    width: calc(100% - 25px);
    border: none;
    outline: none;
    &::-webkit-search-results-decoration,
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  } 
  & .search-form-submit {
    border: none;
    background: none;
    color: $color-grey;
    line-height: 0;
  }
}

.header-title {
  text-align: center;
  & a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-decoration: none;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
}