$color-grey: #757575;
$color-border: #ddd;
$color-link: #0079d2;
$color-blockquote: #f5f5f5;
$color-content: #555;

@mixin mq-mobile() {
  @media all and (max-width: 479px) {
    @content;
  }
}

@mixin mq-tablet() {
  @media all and (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}

@mixin mq-normal() {
  @media all and (min-width: 768px) {
    @content;
  }
}